@font-face {
  font-family: 'Rubik';
  src: url("/src/public/fonts/Rubik-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url("/src/public/fonts/Rubik-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url("/src/public/fonts/Rubik-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url("/src/public/fonts/Rubik-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
